h1 {
    color: darkgrey;
    font-family: sans-serif;
    font-size: 1.5em;
}


.user-card {
    border: 1px solid black;
    background-color: lightblue;
    padding: 0 5px;
    height: 200px;
    width: 180px;
    margin: 3px;
    display: inline-block;
    box-sizing: border-box;
    font-family: sans-serif;
}

.user-card.active {
    background-color: lightsalmon;
}

.user-card h2 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
}

.user-card:hover {
    background-color: blanchedalmond;
}